<H1 style="text-align: center;">{{friendUserName}}'s Watchlist</H1>
<div id="btnAndInput">
  <button class="btn btn-secondary btnMargin" (click)="previousPage()">Previous</button>
  Current Page: {{page}}
  <button  class="btn btn-secondary btnMargin" (click)="nextPage()">Next</button>
  Jump to page: <input type="number" id="jumpPage" [(ngModel)]="jumpToPage"/>
  <button  class="btn btn-secondary" id="goBtn" (click)="jumpPage()">Go</button>
  Search: <input type="text" [(ngModel)]="searchTxt"/>
  <button class="btndark searchalign btnMargin" (click)="search()">Search</button>
  </div>
  <app-single-movie *ngFor="let m of movies" [movies]="m"></app-single-movie>
  <div id="centerGoTop">
      <button *ngIf="movies" id="goTopBtn" class="btndark" (click)="goTop()">Go To Top</button>
  </div>