<!-- <div *ngFor="let item of ratings" [rating]="item">
    <p>this is id{{item.id}}</p>

</div> -->
<table>
    <thead>
        <tr>
            <!-- <th>Rating ID</th>
            <th>Movie title</th>
            <th>Rating</th> -->
        </tr>
    </thead>
    <tbody>
        
        <!-- <app-rating *ngFor="let item of ratings" [rating]="item"></app-rating> -->
    </tbody>
</table>
<h3 style="text-align: center;">Ratings</h3>
<app-rating *ngFor="let item of ratings" [rating]="item"></app-rating>