/* .box-form{
    border: 1px solid black;
    padding: 10px;
    width:60%;
    margin: auto;
}

h3{
    text-align: center;
} */
.box-form{
    background-color:gainsboro;
    padding: 5px;;
}
input[type="text"], input[type="password"]{
    border-radius: 5px;
}
.btndark{
    border: none;
    background-color: black;
    color: #cecccc;
    padding: 5px;
    border-radius:3px;
    margin-left: 5px;
    
}
.logoutbtn{
    margin-left: 20px;
}