#addFriend{
    text-align: center;
}

.btndark{
    border: none;
    background-color: black;
    color: #cecccc;
    padding: 5px;
    border-radius:3px;
    margin-left: 5px;
}

.inline{
    display: "inline";
}